<center>
  <div class="compact-container">
    <a href="/Narratives/structure_title" class="feature-link" title="structure_title story_type">
        <div class="compact-image-container">
          <img src="/Photos/Narratives/structure_title/structure_titlesynopsis_image_path_extension" alt="structure_title Synopsis" class="compact-synopsis-image">
          <div style="width: 100%">
            <span style="float: left; text-align: left" class="synopsis-caption">story_type</span>
            <span style="float: right; text-align: right" class="synopsis-caption">synopsis_image_source</span>
          </div>
          <div style="clear: both;"></div>
        </div>
    </a>
    <p class="compact-synopsis-header">
      <a href="/Narratives/structure_title" class="feature-link" title="structure_title story_type">
        title
      </a>
    </p>
  </div>
</center>