<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="/favicon.png">
    <title>_title_</title>
    <script src="/Collection.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="collection">
    <script>set_pieces(pieces_list)</script>
    <div class="collection-container">
      <button class="collection-arrow" style="left:0; border-radius: 0 5px 5px 0;" onclick="change_piece('left')">‹</button>
      <button class="collection-arrow" style="right:0; border-radius: 5px 0 0 5px;" onclick="change_piece('right')">›</button>
    </div>
    <script>change_piece('right')</script>
  </body>
</html>