<center>
  <div class="compact-container">
    <a href="/Art/structure_title" class="feature-link" title="_title_">
        <div class="compact-image-container">
          <img src="/Photos/Art/structure_title/structure_titlecompact_image_path_extension" alt="structure_title" class="compact-synopsis-image">
          <div style="width: 100%">
            <span style="float: left; text-align: left" class="synopsis-caption">Art Collection</span>
          </div>
          <div style="clear: both;"></div>
        </div>
    </a>
    <p class="compact-synopsis-header">
      <a href="/Art/structure_title" class="feature-link" title="structure_title Collection">
        _title_
      </a>
    </p>
  </div>
</center>