<center>
  <div class="wide-flexbox-container">
    <a href="/Art/structure_title" class="feature-link" title="_title_ Collection">
      <img src="/Photos/Art/structure_title/structure_titlewide_image_path_extension" alt="_title_" class="wide-synopsis-image">
    </a>
    <a href="/Art/structure_title" class="feature-link" title="_title_ Collection">
      <div class="wide-synopsis-container">
        <div style="float: left">
          <span class="wide-synopsis-header">_title_</span>
          <span class="synopsis-subheader">(specification)</span>
        </div>
        <div style="clear: both;"></div>
        <p class="wide-synopsis-body">
          wide_synopsis_text
        </p>
      </div>
    </a>
  </div>
</center>